<h2 class="title">Tech timeline</h2>

<p>
  All main technologies that I've worked with in my web development career.
</p>

<p>
  ⭐ — current priority tech.
</p>

<div class="timeline-wrapper">
  <table class="timeline">
    <thead>
    <tr>
      <th
        *ngFor="let year of years"
        class="year">
        {{ year }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of timeline">
      <ng-container *ngFor="let tech of row.techs; let index = index">
        <td
          *ngIf="index === 0 && tech.start > starterYear"
          [attr.colspan]="tech.start - starterYear">
        </td>
        <td
          [attr.colspan]="(tech.end ? tech.end - tech.start : currentYear - tech.start) + 1"
          [style.background]="tech.background"
          [style.color]="tech.color"
          class="tech">
          <a *ngIf="tech.link" [href]="tech.link" target="_blank">{{ tech.title }}</a>
          <span *ngIf="!tech.link">{{ tech.title }}</span>
          <span *ngIf="tech.main">⭐</span>
        </td>
      </ng-container>
    </tr>
    </tbody>
  </table>
</div>
