---
import MainLayout from '../layout/MainLayout.astro';
import {config} from '../config.ts';
---

<style lang="scss">
  .hero {
    display: flex;
    flex-flow: column;
    @media (min-width: 768px) {
      flex-flow: row;
    }
    img {
      width: 100%;
      max-width: 20rem;
      border-radius: .3rem;
      margin: 2rem 0;
      @media (min-width: 768px) {
        width: 15rem;
        margin: 0 0 0 4rem;
      }
    }
  }

  .info {
    margin-top: 2rem;
  }
</style>

<MainLayout>
  <div class="hero">
    <div>
      <h1>Hey, I'm Oleksa</h1>
      <h2>A web developer from Ukraine.</h2>
      <div>
        I work with Angular apps
            (😊 <a href={ 'mailto:' + config.email }>mail me</a>, <a href={ 'https://www.linkedin.com/in/' + config.linkedin }>Linkedin</a>),
            craft small and handy open source libs on <a href={ 'https://github.com/' + config.github }>GitHub</a>,
            and create an alt client for Bluesky &mdash; <a href={ 'https://subium.com' }>Subium</a>.
      </div>
    </div>
    <div>
      <img src="/assets/ava4.jpg">
    </div>
  </div>
</MainLayout>
