---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';
import TechTimeline from '../components/TechTimeline/TechTimeline.astro';
---

<html lang="en">
  <head>
    <MainHead title="Not Found" />
  </head>
  <body>
    <Nav />
    <h1>Tech Timeline</h1>
    <TechTimeline />
    <Footer />
  </body>
</html>

