---
import MainLayout from '../layout/MainLayout.astro';
---
<style>
.block {
  margin: 3rem 0;
}
</style>

<MainLayout>
  <h1>Uses</h1>

  <div class="block">
    <h2>Hardware</h2>
    <ul>
      <li>Main PC: Fractal Meshify 2, Ryzen 5600x, 32Gb RAM, 1TB Samsung NVME SSD, Radeon 5500 XT;</li>
      <li>LG 27" 4K Monitor - 27UK650;</li>
      <li>⌨ Ducky One 2 Keyboard && Keychron K8, 🖱 Asus Rog Pugio II wireless mouse;</li>
    </ul>
  </div>

  <div class="block">
    <h2>Software</h2>
    <ul>
      <li>OS: <b>Windows 11</b>, Ubuntu for servers;</li>
      <li>Browser: main - 🦊 <b>Firefox</b>, dev - Chrome and Firefox Dev;</li>
      <li>IDE: <b>WebStorm</b>, VSCode sometimes;</li>
      <li>Git clients: <b>Sublime Merge</b>, Tortoise Git, or any terminal for edge cases;</li>
      <li><b>Solarized Light</b> color theme everywhere;</li>
      <li>Now I am a fan of Cascadia Code font;</li>
      <li><b>Windows Terminal</b>, Hyper;</li>
      <li><b>PuTTY</b> and FileZilla to access remote servers;</li>
      <li><b>DBeaver</b> for working with databases;</li>
      <li><b>Docker</b> to setup dev environment and deploy apps to production;</li>
    </ul>
  </div>
</MainLayout>
