---
import MainLayout from '../layout/MainLayout.astro';
---
<style>
.block {
  margin: 3rem 0;
}
</style>

<MainLayout>
  <h1>Uses</h1>

  <div class="block">
    <h2>Hardware</h2>
    <ul>
      <li>Asus Vivobook S 16 with Ryzen 8845HS and 32Gb RAM;</li>
      <li>Gigabyte M28U 4K 144Hz Monitor;</li>
      <li>⌨️ Keychron Q3, 🖱️ Asus Rog Harpe Ace;</li>
    </ul>
  </div>

  <div class="block">
    <h2>Software</h2>
    <ul>
      <li>OS: <b>Windows 11</b>, Ubuntu for servers;</li>
      <li>Browser: main - 🦊 <b>Firefox</b>, dev - Chrome and Firefox Dev;</li>
      <li>IDE: <b>WebStorm</b>, VSCode sometimes;</li>
      <li>Git clients: <b>WebStorm</b>, Tortoise Git, or any terminal for edge cases;</li>
      <li>Now I am a fan of Cascadia Code font;</li>
      <li><b>PuTTY</b> and WinSCP to access remote servers;</li>
      <li><b>DBeaver</b> for databases;</li>
      <li><b>Docker</b> to setup dev environment and deploy apps to production;</li>
    </ul>
  </div>
</MainLayout>
