<h1 class="title">Oleksa Novyk</h1>

<div class="brand">Craft websites since 2006</div>

<div class="content">
  <div class="links">
    <a href="mailto:inavix@gmail.com">email</a>,
    <a href="https://github.com/navix">github</a>,
    <a href="https://twitter.com/oleksanovyk">twitter</a>,
    <a href="https://www.upwork.com/o/profiles/users/~01d8c96751700ff7a6/">upwork</a>,
    <a href="https://www.linkedin.com/in/onovyk/">linkedin</a>,
    <a href="https://www.google.com/maps/place/Kharkiv,+Kharkiv+Oblast/@49.994507,36.1457434,11z/">geo</a>
  </div>

  <div class="blokc -bio">
    <p>
      My passion is creating working applications, and web development is a great tool for that.
    </p>
    <p>
      Trust in WASM and a browser like the universal platform for almost all web/mobile applications.
    </p>
    <p>
      Love UX, but can't do graphic design.
    </p>
  </div>

  <div class="block -stack">
    <h3>Main tech stack</h3>
    <ul>
      <li>JavaScript, HTML, CSS as main instruments.</li>
      <li>Love <span class="tag -ng">Angular</span>, can do React.</li>
      <li>Docker, Node, SQL on the other side of API.</li>
    </ul>
  </div>

  <div class="block -projects">
    <h3>Pet projects</h3>
    <ul>
      <li>
        <a href="https://ngrefs.com">ngrefs</a> — improves my workflow.
      </li>
      <li>
        <a href="https://letslplayhub.com">Let's Play Hub</a> — needed experience with YouTube API and React /w good
        search positions.
      </li>
    </ul>
  </div>

  <div class="block -open-source">
    <h3>Open-source</h3>
    <ul>
      <li>
        Bunch of Angular packages:
        <a href="https://github.com/navix/sx-icon">sx-icon</a>,
        <a href="https://github.com/navix/sx-class">sx-class</a>,
        <a href="https://github.com/navix/sx-state">sx-state</a>,
        <a href="https://github.com/navix/sx-focus-listener">sx-focus-listener</a>.
      </li>
      <li>
        <a href="https://github.com/ngx-kit/ngx-kit">ngx-kit</a> — had a dream about my own collection of Angular
        components.
        Inactive for now. It's hard work, you know?
      </li>
    </ul>
  </div>

  <div class="block">
    <h3 class="tag -ua">Українською</h3>
    Це не робочий зміст, але для мене дуже важливий. Я трохи пишу у персональний twitter <a href="https://twitter.com/navix">@navix</a>,
    а також періодично проводжу стріми на twitch <a href="https://twitch.tv/oleksa">@oleksa</a> — приєднуйтесь.
  </div>

</div>
