<header>
  <h1 class="title">
    <a routerLink="/">Oleksa Novyk</a>
  </h1>

  <div class="brand">Craft websites since 2006</div>

  <div class="links">
    <a href="mailto:inavix@gmail.com">email</a>,
    <a href="https://github.com/navix">github</a>,
    <a href="https://twitter.com/oleksanovyk">twitter</a>,
    <a href="https://www.upwork.com/o/profiles/users/~01d8c96751700ff7a6/">upwork</a>,
    <a href="https://www.linkedin.com/in/onovyk/">linkedin</a>
  </div>
</header>

<div class="content">
  <router-outlet></router-outlet>
</div>
