header {
  margin: 0 auto;
  max-width: var(--contentWidth);
}

.title {
  a {
    color: #313950;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: -.075em;
    line-height: 1.25em;
    margin: 0;
    padding-bottom: 1rem;
    text-decoration: none;
    @media (min-width: 800px) {
      font-size: 3.5rem;
    }
  }
}


.brand {
  font-size: .85rem;
  font-style: italic;
  text-align: right;
}

.links {
  margin-top: 2rem;
}

.content {
  margin-top: 2rem;
}
