@import "~normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: local('JetBrains Mono'), local('JetBrains-Mono'), url(/assets/JetBrainsMono-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  src: local('JetBrains Mono'), local('JetBrains-Mono'), url(/assets/JetBrainsMono-Bold.woff2) format('woff2');
}

:root {
  //--font: 'IBM Plex Sans', sans-serif;
  --font: "JetBrains Mono", "Consolas", "Inconsolata", "Monaco", "Courier", monospace;
  --contentWidth: 30rem;
  --background: #f3f3f1;
}

html {
  background: var(--background);
  box-sizing: border-box;
  color: #4c4c4c;
  font-family: var(--font);
  font-size: 16px;
  margin: 0;
  min-height: 100%;
  @media (min-width: 800px) {
    padding: 1rem;
    font-size: 20px;
  }
}

body {
  line-height: 1.5rem;
  padding: .5rem 1rem 3rem;
  @media (min-width: 800px) {
    padding: 1rem 2rem;
  }
}

a {
  color: inherit;
  font-weight: 700;
}
