<div class="blokc -bio">
  <p>
    My passion is creating software, and web development is a great tool for that.
  </p>
  <p>
    Have trust in PWA+Wasm and a browser as the universal platform for almost all web/mobile applications.
  </p>
  <p>
    Also love UX, but graphic design is not one of my strengths.
  </p>
</div>

<div class="block -stack">
  <h3>Main tech stack</h3>
  <ul>
    <li>JavaScript (TypeScript), HTML, CSS as main instruments.</li>
    <li>Love <span class="tag -ng">Angular</span>.</li>
    <li>Docker, Node, SQL on the other side of API.</li>
    <li>Actively learn <a href="https://www.rust-lang.org/">🦀Rust</a>.</li>
  </ul>

  Check out <a routerLink="/tech-timeline">my tech timeline</a>.
</div>

<div class="block -projects">
  <h3>Current pet projects</h3>
  <ul>
    <li>
      <a href="https://ngrefs.com">ngrefs</a> — Angular references, improves my workflow. Angular with SSR.
    </li>
    <li>
      <a href="https://letsplayhub.com">Let's Play Hub</a> — Gaming videos YouTube aggregator. Fastify and MySQL for
      API, React+Next.js with SSR on frontend.
    </li>
  </ul>
</div>

<div class="block -open-source">
  <h3>Open-source</h3>
  <ul>
    <li>
      Bunch of Angular packages:
      <a href="https://github.com/navix/sx-icon">sx-icon</a>,
      <a href="https://github.com/navix/sx-class">sx-class</a>,
      <a href="https://github.com/navix/sx-state">sx-state</a>,
      <a href="https://github.com/navix/sx-focus-listener">sx-focus-listener</a>.
    </li>
    <li>
      <a href="https://github.com/ngx-kit">ngx-kit</a> - collection on tools for creating Angular UI + several
      collections of UI components. Archived.
    </li>
  </ul>
</div>

<div class="block">
  <h3 class="tag -ua">Українською</h3>
  Це не робочий зміст, але для мене дуже важливий. Я трохи пишу у персональний twitter
  <a href="https://twitter.com/navix">@navix</a>,
  а також періодично проводжу стріми на twitch <a href="https://twitch.tv/oleksa">@oleksa</a> — приєднуйтесь.
</div>
